body {
	font-family: "Nunito Sans", sans-serif;
	font-size: 12pt;
	margin: 0;
}
.modal {
	border: 5px solid;
	border-left: none;
	border-right: none;
	padding: 0;
	user-select: none;
}
.modal h4,
.modal h5 {
	padding: 5px 10px 10px;
	margin: 0;
}
.modal h5 {
	text-align: center;
	padding: 5px 0 0;
	font-weight: normal;
}
.modal h5 .button {
	display: inline-block;
}
.modal table {
	width: 100%;
	border-spacing: 0;
}
.modal th {
	text-align: right;
	border: solid grey;
	border-width: 1px 1px 0 0;
	vertical-align: middle;
}
.modal #pokeform-tabs th {
	border: none;
	padding: 0;
}
.modal th label {
	display: block;
	padding: 10px;
	position: relative;
}
.modal th label .asterisk {
	position: absolute;
	right: 1px;
	color: red;
}
.modal td {
	padding: 10px;
	text-align: left;
	border: solid grey;
	border-width: 1px 1px 0 0;
	width: 100%;
	vertical-align: middle;
}
.modal .pokeform-ribbonrow th,
.modal .pokeform-ribbonrow td {
	vertical-align: top;
}
.modal td:last-child {
	border-width: 1px 0 0 0;
}
.modal td.ribbons {
	padding: 0;
}
.modal #all-ribbons {
	padding: 5px 10px;
}
#pokeform-tabs div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#pokeform-tabs img {
	cursor: pointer;
	margin: 5px;
	filter: grayscale(1) brightness(1);
	width: 40px;
	height: 40px;
}
#pokeform-tabs img[src*=".svg"] {
	width: 35px;
	height: 35px;
}
#pokeform-tabs .pokeform-tabs-active {
	filter: none;
}
#pokeform tr:not(#pokeform-tabs):not(.pokeform-tab1) {
	display: none;
}
.pokedropimg {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
.pokedropimg.origininvert {
	filter: invert(0.6);
}
.pokedropimg + span {
	padding-left: 5px;
	vertical-align: middle;
}
.select2-container--default .select2-results__option .select2-results__option {
	padding-left: 6px;
}
.select2-dropdown {
	top: -5px;
	background: #fff;
}
.select2-container--default .select2-results__option--selected {
	background: #ddd;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	background: #ddd;
	color: unset;
}
.select2-container .select2-selection--single {
	height: 32px;
}
.modal td > input[type="text"] {
	padding: 5px;
}
* {
	font-family: "Nunito Sans", sans-serif;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
a:not(.button):hover {
	text-decoration: underline;
}
footer a {
	white-space: nowrap;
}
button, .button {
	padding: 5px 10px;
	background: #efefef;
	border: 2px solid #222;
	border-radius: 10px;
	cursor: default;
	user-select: none;
	font-size: 12pt;
	color: #121212;
}
span.button {
	display: inline-block;
}
.ribbons .button {
	display: inline-block;
}
button:hover, .button:hover {
	background: #ddd;
}
button:hover, .button:active {
	background: #eee;
}
header {
	text-align: left;
	padding: 5px 20px;
	text-transform: uppercase;
	font-size: 18pt;
	font-weight: bold;
	width: 100%;
	border-top: 3px solid;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#header-logo {
	float: left;
}
#header-logo img {
	width: 32px;
	height: 32px;
	vertical-align: middle;
	margin-right: 5px;
}
#header-logo span {
	display: inline-block;
	vertical-align: middle;
}
#header-settings {
	height: 32px;
	cursor: pointer;
}
footer {
	text-align: center;
	padding: 5px 10px;
	font-size: 13px;
	width: 100%;
	border-bottom: 3px solid;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
	font-weight: 600;
}
#settings .button {
	font-size: 16px;
}
.ribbons {
	padding: 10px 0;
}
.ribbons img {
	width: 40px;
	margin-right: 5px;
}
#settings input,
#pokeform-edit,
#pokeform-gender-unknown,
#pokeform-header-edit {
	display: none;
}
.sprite-mon {
	height: 50px;
}
#pokeform-shiny-img {
	filter: grayscale(100%);
}
#pokeform-shiny {
	margin-top: 5px;
}
#pokeform-shiny-img {
	height: 24px;
	vertical-align: middle;
}
#pokeform-shiny-checkbox:checked ~ label #pokeform-shiny-img {
	filter: none;
}
#pokeform-shiny label {
	cursor: pointer;
	vertical-align: middle;
}
#pokeform-gender-img {
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	background: url("../img/gender/male.png") no-repeat center center;
	background-size: contain;
}
#pokeform-gender-checkbox:checked ~ label #pokeform-gender-img {
	background-image: url("../img/gender/female.png");
}
#pokeform-gender label {
	position: relative;
	cursor: pointer;
}
#pokeform-gender label + label,
#pokeform-gender-unknown span {
	vertical-align: middle;
}
#pokeform-gender-checkbox ~ label + label:before {
	content: "Male";
}
#pokeform-gender-checkbox:checked ~ label + label:before {
	content: "Female";
}
#pokeform-gender-checkbox[disabled] ~ label {
	cursor: default;
}
#pokeform-gender-checkbox[disabled] ~ label + label:before {
	content: "Male only";
}
#pokeform-gender-checkbox:checked[disabled] ~ label + label:before {
	content: "Female only";
}
#pokeform-gender div {
	min-height: 24px;
}
#pokeform-notes {
	width: 100%;
	resize: none;
}

.mint.atk:before {
	background-image: url("../img/mints/atk.png");
}
.mint.def:before {
	background-image: url("../img/mints/def.png");
}
.mint.spa:before {
	background-image: url("../img/mints/spa.png");
}
.mint.spd:before {
	background-image: url("../img/mints/spd.png");
}
.mint.spe:before {
	background-image: url("../img/mints/spe.png");
}
.mint.neutral:before {
	background-image: url("../img/mints/neutral.png");
}

#all-ribbons img {
	filter: grayscale(100%);
	opacity: 0.1;
	cursor: pointer;
}
#all-ribbons img:hover {
	opacity: 0.5;
	filter: grayscale(50%);
}
#all-ribbons img.disabled {
	filter: blur(5) grayscale(100%);
	cursor: default;
}
#all-ribbons input:checked + label img {
	filter: none;
	opacity: 1;
}
.ribbons-gen {
	text-align: left;
	font-weight: bold;
	font-style: italic;
	border-top: 1px solid grey;
	padding: 5px 0;
	margin-top: 10px;
}
.ribbons-gen:first-child {
	margin-top: 0;
	border-top: none;
}
#all-ribbons .ribbons-list:last-child {
	padding-bottom: 10px;
}
.ribbons-list {
	display: flex;
	flex-wrap: wrap;
	align-content: space-evenly;
}
.pokemon-list-entry .ribbons-list {
	padding: 5px 0;
}
.pokemon-list-entry .ribbons-list img {
	height: 32px;
}
.ribbons-list .country-ribbon {
	order: -11;
}
.ribbons-list .world-ribbon {
	order: -10;
}
.ribbons-list .classic-ribbon {
	order: -9;
}
.ribbons-list .premier-ribbon {
	order: -8;
}
.ribbons-list .event-ribbon {
	order: -7;
}
.ribbons-list .birthday-ribbon {
	order: -6;
}
.ribbons-list .special-ribbon {
	order: -5;
}
.ribbons-list .souvenir-ribbon {
	order: -4;
}
.ribbons-list .wishing-ribbon {
	order: -3;
}
.ribbons-list .battle-champion-ribbon {
	order: -2;
}
.ribbons-list .world-champion-ribbon {
	order: -1;
}
.ribbons-list .national-ribbon {
	order: 22;
}
.ribbons-list .earth-ribbon {
	order: 23;
}
.ribbons-list .champion-ribbon {
	order: 2;
}
.ribbons-list .effort-ribbon {
	order: 8;
}
.ribbons-list .cool-ribbon-hoenn {
	order: -100;
}
.ribbons-list .cool-ribbon-super-hoenn {
	order: -99;
}
.ribbons-list .cool-ribbon-hyper-hoenn {
	order: -98;
}
.ribbons-list .cool-ribbon-master-hoenn {
	order: -97;
}
.ribbons-list .beauty-ribbon-hoenn {
	order: -96;
}
.ribbons-list .beauty-ribbon-super-hoenn {
	order: -95;
}
.ribbons-list .beauty-ribbon-hyper-hoenn {
	order: -94;
}
.ribbons-list .beauty-ribbon-master-hoenn {
	order: -93;
}
.ribbons-list .cute-ribbon-hoenn {
	order: -92;
}
.ribbons-list .cute-ribbon-super-hoenn {
	order: -91;
}
.ribbons-list .cute-ribbon-hyper-hoenn {
	order: -90;
}
.ribbons-list .cute-ribbon-master-hoenn {
	order: -89;
}
.ribbons-list .smart-ribbon-hoenn {
	order: -88;
}
.ribbons-list .smart-ribbon-super-hoenn {
	order: -87;
}
.ribbons-list .smart-ribbon-hyper-hoenn {
	order: -86;
}
.ribbons-list .smart-ribbon-master-hoenn {
	order: -85;
}
.ribbons-list .tough-ribbon-hoenn {
	order: -84;
}
.ribbons-list .tough-ribbon-super-hoenn {
	order: -83;
}
.ribbons-list .tough-ribbon-hyper-hoenn {
	order: -82;
}
.ribbons-list .tough-ribbon-master-hoenn {
	order: -81;
}
.ribbons-list .winning-ribbon {
	order: -80;
}
.ribbons-list .victory-ribbon {
	order: -79;
}
.ribbons-list .artist-ribbon {
	order: 19;
}
.ribbons-list .sinnoh-champion-ribbon {
	order: 3;
}
.ribbons-list .alert-ribbon {
	order: 9;
}
.ribbons-list .shock-ribbon {
	order: 10;
}
.ribbons-list .downcast-ribbon {
	order: 11;
}
.ribbons-list .careless-ribbon {
	order: 12;
}
.ribbons-list .relax-ribbon {
	order: 13;
}
.ribbons-list .snooze-ribbon {
	order: 14;
}
.ribbons-list .smile-ribbon {
	order: 15;
}
.ribbons-list .gorgeous-ribbon {
	order: 16;
}
.ribbons-list .royal-ribbon {
	order: 17;
}
.ribbons-list .gorgeous-royal-ribbon {
	order: 18;
}
.ribbons-list .cool-ribbon-sinnoh {
	order: -78;
}
.ribbons-list .cool-ribbon-great-sinnoh {
	order: -77;
}
.ribbons-list .cool-ribbon-ultra-sinnoh {
	order: -76;
}
.ribbons-list .cool-ribbon-master-sinnoh {
	order: -75;
}
.ribbons-list .beauty-ribbon-sinnoh {
	order: -74;
}
.ribbons-list .beauty-ribbon-great-sinnoh {
	order: -73;
}
.ribbons-list .beauty-ribbon-ultra-sinnoh {
	order: -72;
}
.ribbons-list .beauty-ribbon-master-sinnoh {
	order: -71;
}
.ribbons-list .cute-ribbon-sinnoh {
	order: -70;
}
.ribbons-list .cute-ribbon-great-sinnoh {
	order: -69;
}
.ribbons-list .cute-ribbon-ultra-sinnoh {
	order: -68;
}
.ribbons-list .cute-ribbon-master-sinnoh {
	order: -67;
}
.ribbons-list .smart-ribbon-sinnoh {
	order: -66;
}
.ribbons-list .smart-ribbon-great-sinnoh {
	order: -65;
}
.ribbons-list .smart-ribbon-ultra-sinnoh {
	order: -64;
}
.ribbons-list .smart-ribbon-master-sinnoh {
	order: -63;
}
.ribbons-list .tough-ribbon-sinnoh {
	order: -62;
}
.ribbons-list .tough-ribbon-great-sinnoh {
	order: -61;
}
.ribbons-list .tough-ribbon-ultra-sinnoh {
	order: -60;
}
.ribbons-list .tough-ribbon-master-sinnoh {
	order: -59;
}
.ribbons-list .footprint-ribbon {
	order: 20;
}
.ribbons-list .legend-ribbon {
	order: 21;
}
.ribbons-list .ability-ribbon {
	order: -58;
}
.ribbons-list .great-ability-ribbon {
	order: -57;
}
.ribbons-list .double-ability-ribbon {
	order: -56;
}
.ribbons-list .multi-ability-ribbon {
	order: -55;
}
.ribbons-list .pair-ability-ribbon {
	order: -54;
}
.ribbons-list .world-ability-ribbon {
	order: -53;
}
.ribbons-list .contest-memory-ribbon {
	order: 24;
}
.ribbons-list .contest-memory-ribbon-gold {
	order: 25;
}
.ribbons-list .battle-memory-ribbon {
	order: 26;
}
.ribbons-list .battle-memory-ribbon-gold {
	order: 27;
}
.ribbons-list .kalos-champion-ribbon {
	order: 1;
}
.ribbons-list .training-ribbon {
	order: 5;
}
.ribbons-list .skillful-battler-ribbon {
	order: 6;
}
.ribbons-list .expert-battler-ribbon {
	order: 7;
}
.ribbons-list .best-friends-ribbon {
	order: 4;
}
.ribbons-list .coolness-master-ribbon {
	order: 30;
}
.ribbons-list .beauty-master-ribbon {
	order: 31;
}
.ribbons-list .cuteness-master-ribbon {
	order: 32;
}
.ribbons-list .cleverness-master-ribbon {
	order: 33;
}
.ribbons-list .toughness-master-ribbon {
	order: 34;
}
.ribbons-list .contest-star-ribbon {
	order: 29;
}
.ribbons-list .hoenn-champion-ribbon {
	order: 28;
}
.ribbons-list .alola-champion-ribbon {
	order: 35;
}
.ribbons-list .battle-royal-master-ribbon {
	order: 36;
}
.ribbons-list .battle-tree-great-ribbon {
	order: 37;
}
.ribbons-list .battle-tree-master-ribbon {
	order: 38;
}
.ribbons-list .galar-champion-ribbon {
	order: 39;
}
.ribbons-list .master-rank-ribbon {
	order: 41;
}
.ribbons-list .tower-master-ribbon {
	order: 40;
}
.ribbons-list .twinkling-star-ribbon {
	order: 42;
}
.ribbons-list .hisui-ribbon {
	order: 43;
}
.ribbons-list img[class$="-mark"] {
	order: 1000;
}

.select2-dropdown {
	color: #000;
}

#pokemon-list {
	width: 95%;
	margin: 50px auto 125px;
	display: flex;
	flex-wrap: wrap;
	justify-content: stretch;
}
.pokemon-list-entry {
	border-radius: 5px;
	width: 100%;
	margin: 10px auto;
}
#add-pokemon-button {
	position: fixed;
	z-index: 1;
	right: 10px;
	bottom: 75px;
	line-height: 1.5;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	padding: 9px;
	text-align: center;
	cursor: pointer;
}
#add-pokemon-button img {
	width: 32px;
}
@media only screen and (min-width: 768px) {
	.pokemon-list-entry {
		width: 49%;
		margin: 10px 1% 10px 0;
	}
	#add-pokemon-button {
		bottom: 50px;
	}
	#pokemon-list {
		margin-bottom: 110px;
	}
}
@media only screen and (min-width: 1200px) {
	.pokemon-list-entry {
		width: 32%;
		margin: 10px 1% 10px 0;
	}
	#add-pokemon-button {
		bottom: 40px;
	}
	#pokemon-list {
		margin-bottom: 85px;
	}
}
.pokemon-list-entry-header,
.pokemon-list-entry-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px 5px 0 0;
	padding: 5px 10px;
}
.pokemon-list-entry-footer {
	border-radius: 0 0 5px 5px;
}
.pokemon-list-entry-header * {
	vertical-align: middle;
}
.pokemon-list-entry-header-left *,
.pokemon-list-entry-header-right * {
	margin-right: 5px;
}
.pokemon-list-entry-header-right {
	font-weight: 600;
}
.pokemon-list-entry-footer-right {
	margin-top: -1px;
}
.pokemon-list-entry-header-right span {
	margin-left: 5px;
}
.pokemon-list-entry img {
	height: 20px;
}
.pokemon-list-edit,
.pokemon-list-delete,
.pokemon-list-details {
	margin-left: 10px;
	vertical-align: middle;
	cursor: pointer;
}
.pokemon-list-name {
	font-weight: bold;
	font-size: 20px;
	padding: 0 5px;
}
.pokemon-list-level {
	width: 73px;
}
.pokemon-list-lang {
	display: inline-block;
	width: 60px;
	text-align: center;
	background: #efefef;
	border-radius: 10px;
	font-weight: bold;
	color: #121212;
}
.pokemon-list-entry-footer-left > * {
	padding: 0 10px;
}
.pokemon-list-entry-footer-left {
	display: flex;
	align-items: center;
}
.pokemon-list-entry-center {
	display: flex;
	height: calc(100% - 72px);
	align-items: center;
}
.pokemon-list-entry-center > img {
	height: 100px;
	width: auto;
}
#pokemon-list-empty,
.ribbons-list-empty {
	text-align: center;
	margin: 20px auto;
	display: none;
}
#pokemon-list-empty:first-child:last-child,
.ribbons-list-empty:first-child:last-child {
	display: block;
}
#changelog tr:not(:last-child) {
	cursor: pointer;
}
.changelog-date {
	font-weight: bold;
}
.changelog-date + ul {
	padding-left: 5%;
	margin: 1% 0;
	display: none;
}
.changelog-active .changelog-date + ul {
	display: block;
}
.changelog-date:before {
	content: "▼";
	margin-right: 10px;
}
.changelog-active .changelog-date:before {
	content: "▲";
}
.pokeform-stats {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	text-align: center;
}
.pokeform-stats input {
	width: 60px;
}
