body {
	font-family: "Nunito Sans", sans-serif;
	font-size: 12pt;
	margin-top: 20px;
}
body.modalactive {
	overflow: hidden;
}
#pokeform {
	padding: 0;
	user-select: none;
}
#pokeform h4 {
	background: #222;
	padding: 10px;
	margin: 0;
	border-radius: 8px 8px 0 0;
	border-bottom: 1px solid grey;
}
body.light #pokeform h4 {
	background: #efefef;
}
#pokeform table {
	border-spacing: 0;
}
#pokeform th {
	text-align: right;
	border: solid grey;
	border-width: 0 1px 1px 0;
	vertical-align: middle;
}
#pokeform th label {
	display: block;
	padding: 10px;
}
#pokeform td {
	padding: 10px;
	text-align: left;
	border: solid grey;
	border-width: 0 1px 1px 0;
	width: 100%;
	vertical-align: middle;
}
#pokeform .pokeform-ribbonrow th,
#pokeform .pokeform-ribbonrow td {
	vertical-align: top;
}
#pokeform td:last-child {
	border-width: 0 0 1px 0;
}
#pokeform td.ribbons {
	padding: 0;
}
#pokeform #all-ribbons {
	padding: 5px 10px;
}
#pokeform tr:last-child td {
	border: none;
	text-align: center;
}
.pokedropimg {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
.pokedropimg + span {
	padding-left: 5px;
	vertical-align: middle;
}
.select2-container--default .select2-results__option .select2-results__option {
	padding-left: 6px;
}
.select2-dropdown {
	background: #fff;
}
.select2-container--default .select2-results__option--selected {
	background: #ddd;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	background: #ddd;
	color: unset;
}
.select2-container .select2-selection--single {
	height: 32px;
}
#pokeform td > input[type="text"] {
	padding: 5px;
}
* {
	font-family: "Nunito Sans", sans-serif;
}
a {
	color: #38578e;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
body.dark a {
	color: #81a6e9;
}
body.dark,
body.dark .modal,
body.dark #all-ribbons {
	background: #121212;
	color: #fff;
}
body.light,
body.light .modal,
body.light #all-ribbons {
	background: #fff;
	color: #121212;
}
button, .button {
	padding: 5px 10px;
	background: #efefef;
	border: 2px solid #222;
	border-radius: 10px;
	cursor: default;
	user-select: none;
	font-size: 12pt;
	color: #121212;
}
.ribbons .button {
	display: inline-block;
}
button:hover, .button:hover {
	background: #ddd;
}
button:hover, .button:active {
	background: #ccc;
}
.button.disabled {
	background: #efefef;
	border-color: #ccc;
	color: #bbb;
	cursor: not-allowed;
}
.editing td {
	opacity: 0.25;
}
body.dark button, body.dark .button {
	background: #222;
	border-color: #888;
	color: #fff;
}
body.dark button:hover, body.dark .button:hover {
	background: #444;
}
body.dark button:active, body.dark .button:active {
	background: #555;
}
body.dark .button.disabled {
	background: #222;
	border-color: #333;
	color: #555;
}
header {
	text-align: center;
	font-size: 20pt;
	font-weight: bold;
}
.subhead {
	text-align: center;
	font-size: 14pt;
	margin-top: 10px;
}
.subheadbtns {
	text-align: center;
	font-size: 10pt;
	margin-top: 20px;
}
.subheadbtns .button {
	font-size: 10pt
}
.tablelist {
	width: 96%;
	padding: 10px 0 0;
	margin: 20px auto;
	border: 1px solid #aaa;
	border-left: none;
	border-right: none;
	border-spacing: 0;
}
.tablelist th,
.tablelist td {
	text-align: left;
	min-height: 60px;
	border-bottom: 1px solid #666;
	padding-left: 10px;
}
.tablelist th {
	height: 40px;
}
.tablelist th:nth-child(1),
.tablelist td:nth-child(1) {
	width: 150px;
}
.tablelist th:nth-child(2),
.tablelist td:nth-child(2) {
	width: 150px;
	text-align: center;
}
.tablelist th:nth-child(3),
.tablelist td:nth-child(3) {
	width: 100px;
	text-align: center;
}
.tablelist td:nth-child(3) > img {
	vertical-align: middle;
}
.tablelist th:nth-child(4),
.tablelist td:nth-child(4),
.tablelist th:nth-child(5),
.tablelist td:nth-child(5),
.tablelist th:nth-child(6),
.tablelist td:nth-child(6) {
	width: 100px;
}
.tablelist th:nth-child(7),
.tablelist td:nth-child(7) {
	width: 200px;
}
.tablelist th:nth-child(9),
.tablelist td:nth-child(9) {
	width: 50px;
	text-align: center;
}
.tablelist td:nth-child(9) .button {
	margin: 5px auto;
}
.tablelist td:nth-child(9) .button + .button {
	margin-top: 0;
}
.tablelist td:nth-child(9) button.button {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}
.tablelist td:nth-child(6) {
	position: relative;
}
.mint {
	position: absolute;
	top: calc(50% + 11px);
	font-size: 9pt;
	padding-left: 18px;
}
.mint:before {
	content: "";
	background: transparent no-repeat left center;
	background-size: 16px;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	top: 0;
}
.tablelist #addnewpkmn-button td,
.tablelist #addnewpkmn td {
	border-bottom: none;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: middle;
}
.tablelist #addnewpkmn td:nth-child(2),
.tablelist #addnewpkmn td:nth-child(3) {
	vertical-align: bottom;
}
.tablelist #addnewpkmn-button td {
	padding: 35px 0 34px 10px;
}
.tablelist #addnewpkmn input,
.tablelist #addnewpkmn select {
	margin-left: -5px;
	width: calc(100% - 5px);
}
.tablelist td:nth-child(7) {
	position: relative;
	padding-left: 35px;
}
.tablelist td:nth-child(7):before {
	content: "";
	width: 32px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: transparent no-repeat left center;
	background-size: 32px;
}
.tablelist #addnewpkmn td:nth-child(7):before {
	background-position: left calc(50% - 5px);
}
.tablelist .shinymark {
	background: url("../img/shiny.png") no-repeat right center;
	background-size: 16px;
}
.tablelist td:nth-child(2) {
	position: relative;
}
.tablelist td:nth-child(2) .shiny,
#add-shiny-toggle {
	position: absolute;
	left: 34px;
	top: calc(50% - 8px);
	width: 16px;
	height: 16px;
}
.tablelist td:nth-child(2) .gender,
#add-gender-toggle {
	position: absolute;
	right: 18px;
	top: calc(50% - 8px);
	width: 16px;
	height: 16px;
}
#add-shiny-toggle,
#add-gender-toggle {
	top: 22px;
}
footer {
	font-size: 9pt;
	text-align: center;
}
.ribbons img {
	width: 40px;
	margin-right: 5px;
}
#addnewpkmn,
#add-gender,
.subheadbtns input,
.edit-btns,
#pokeform-edit,
#pokeform-gender-unknown,
#pokeform-header-edit {
	display: none;
}
.sprite-mon {
	height: 50px;
}
#add-preview {
	height: 50px;
}
#add-shiny-toggle {
	filter: grayscale(100%);
	cursor: pointer;
}
#pokeform-shiny-img {
	filter: grayscale(100%);
}
#pokeform-shiny {
	margin-top: 5px;
}
#pokeform-shiny-img,
#pokeform-gender-unknown img {
	height: 24px;
	vertical-align: middle;
}
#add-shiny:checked ~ #add-shiny-toggle,
#pokeform-shiny-checkbox:checked ~ label #pokeform-shiny-img {
	filter: none;
}
#pokeform-shiny label {
	cursor: pointer;
	vertical-align: middle;
}
#pokeform-gender-img {
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background: url("../img/gender/male.png") no-repeat center center;
	background-size: contain;
}
#pokeform-gender-checkbox:checked ~ #pokeform-gender-img {
	background-image: url("../img/gender/female.png");
}
#pokeform-gender label {
	position: relative;
	cursor: pointer;
	vertical-align: middle;
}
#pokeform-gender-img ~ label:before {
	content: "Male";
}
#pokeform-gender-checkbox:checked ~ label:before {
	content: "Female";
}
#pokeform-gender-unknown span {
	vertical-align: middle;
}
#pokeform-gender-checkbox[disabled] ~ #pokeform-gender-img,
#pokeform-gender-checkbox[disabled] ~ label {
	cursor: default;
}
#pokeform-gender-checkbox[disabled] ~ label:before {
	content: "Male only";
}
#pokeform-gender-checkbox:checked[disabled] ~ label:before {
	content: "Female only";
}
#add-gender-toggle[lock="none"] {
	cursor: pointer;
}
#add-mint {
	position: absolute;
	bottom: 10px;
	right: 0;
}
#addnewpkmn td:last-child {
	text-align: left;
}

body.dark .origin-bdsp:before {
	background-image: url("../img/origins/light/bdsp.png");
}
body.light .origin-bdsp:before {
	background-image: url("../img/origins/dark/bdsp.png");
}
body.dark .origin-clover:before {
	background-image: url("../img/origins/light/clover.png");
}
body.light .origin-clover:before {
	background-image: url("../img/origins/dark/clover.png");
}
body.dark .origin-galar:before {
	background-image: url("../img/origins/light/galar.png");
}
body.light .origin-galar:before {
	background-image: url("../img/origins/dark/galar.png");
}
body.dark .origin-game-boy:before {
	background-image: url("../img/origins/light/game-boy.png");
}
body.light .origin-game-boy:before {
	background-image: url("../img/origins/dark/game-boy.png");
}
body.dark .origin-go:before {
	background-image: url("../img/origins/light/go.png");
}
body.light .origin-go:before {
	background-image: url("../img/origins/dark/go.png");
}
body.dark .origin-hisui:before {
	background-image: url("../img/origins/light/hisui.png");
}
body.light .origin-hisui:before {
	background-image: url("../img/origins/dark/hisui.png");
}
body.dark .origin-lets-go:before {
	background-image: url("../img/origins/light/lets-go.png");
}
body.light .origin-lets-go:before {
	background-image: url("../img/origins/dark/lets-go.png");
}
body.dark .origin-pentagon:before {
	background-image: url("../img/origins/light/pentagon.png");
}
body.light .origin-pentagon:before {
	background-image: url("../img/origins/dark/pentagon.png");
}
.mint.atk:before {
	background-image: url("../img/mints/atk.png");
}
.mint.def:before {
	background-image: url("../img/mints/def.png");
}
.mint.spa:before {
	background-image: url("../img/mints/spa.png");
}
.mint.spd:before {
	background-image: url("../img/mints/spd.png");
}
.mint.spe:before {
	background-image: url("../img/mints/spe.png");
}
.mint.neutral:before {
	background-image: url("../img/mints/neutral.png");
}

.tablelist #addnewpkmn #add-ribbons {
	padding-bottom: 0;
	position: relative;
}
#addnewpkmn #all-ribbons {
	position: absolute;
	top: 0;
	left: 0;
	height: 89px;
	min-height: 89px;
	max-height: 500px;
	overflow-y: scroll;
	resize: vertical;
	border: 1px dashed grey;
	padding: 0 5px;
}
#all-ribbons img {
	filter: grayscale(100%);
	opacity: 0.1;
	cursor: pointer;
}
#all-ribbons img:hover {
	opacity: 0.5;
	filter: grayscale(50%);
}
#all-ribbons img.disabled {
	filter: blur(5) grayscale(100%);
	cursor: default;
}
#all-ribbons input:checked + img {
	filter: none;
	opacity: 1;
}
.ribbons-gen {
	text-align: left;
	font-weight: bold;
	font-style: italic;
	border-top: 1px solid grey;
	padding: 5px 0;
	margin-top: 10px;
}
.ribbons-gen:first-child {
	margin-top: 0;
	border-top: none;
}
#all-ribbons .ribbons-list:last-child {
	padding-bottom: 10px;
}
.ribbons-list {
	display: flex;
	flex-wrap: wrap;
}
.ribbons-list .country-ribbon {
	order: -11;
}
.ribbons-list .world-ribbon {
	order: -10;
}
.ribbons-list .classic-ribbon {
	order: -9;
}
.ribbons-list .premier-ribbon {
	order: -8;
}
.ribbons-list .event-ribbon {
	order: -7;
}
.ribbons-list .birthday-ribbon {
	order: -6;
}
.ribbons-list .special-ribbon {
	order: -5;
}
.ribbons-list .souvenir-ribbon {
	order: -4;
}
.ribbons-list .wishing-ribbon {
	order: -3;
}
.ribbons-list .battle-champion-ribbon {
	order: -2;
}
.ribbons-list .world-champion-ribbon {
	order: -1;
}
.ribbons-list .national-ribbon {
	order: 22;
}
.ribbons-list .earth-ribbon {
	order: 23;
}
.ribbons-list .champion-ribbon {
	order: 2;
}
.ribbons-list .effort-ribbon {
	order: 8;
}
.ribbons-list .cool-ribbon-hoenn {
	order: -100;
}
.ribbons-list .cool-ribbon-super-hoenn {
	order: -99;
}
.ribbons-list .cool-ribbon-hyper-hoenn {
	order: -98;
}
.ribbons-list .cool-ribbon-master-hoenn {
	order: -97;
}
.ribbons-list .beauty-ribbon-hoenn {
	order: -96;
}
.ribbons-list .beauty-ribbon-super-hoenn {
	order: -95;
}
.ribbons-list .beauty-ribbon-hyper-hoenn {
	order: -94;
}
.ribbons-list .beauty-ribbon-master-hoenn {
	order: -93;
}
.ribbons-list .cute-ribbon-hoenn {
	order: -92;
}
.ribbons-list .cute-ribbon-super-hoenn {
	order: -91;
}
.ribbons-list .cute-ribbon-hyper-hoenn {
	order: -90;
}
.ribbons-list .cute-ribbon-master-hoenn {
	order: -89;
}
.ribbons-list .smart-ribbon-hoenn {
	order: -88;
}
.ribbons-list .smart-ribbon-super-hoenn {
	order: -87;
}
.ribbons-list .smart-ribbon-hyper-hoenn {
	order: -86;
}
.ribbons-list .smart-ribbon-master-hoenn {
	order: -85;
}
.ribbons-list .tough-ribbon-hoenn {
	order: -84;
}
.ribbons-list .tough-ribbon-super-hoenn {
	order: -83;
}
.ribbons-list .tough-ribbon-hyper-hoenn {
	order: -82;
}
.ribbons-list .tough-ribbon-master-hoenn {
	order: -81;
}
.ribbons-list .winning-ribbon {
	order: -80;
}
.ribbons-list .victory-ribbon {
	order: -79;
}
.ribbons-list .artist-ribbon {
	order: 19;
}
.ribbons-list .sinnoh-champion-ribbon {
	order: 3;
}
.ribbons-list .alert-ribbon {
	order: 9;
}
.ribbons-list .shock-ribbon {
	order: 10;
}
.ribbons-list .downcast-ribbon {
	order: 11;
}
.ribbons-list .careless-ribbon {
	order: 12;
}
.ribbons-list .relax-ribbon {
	order: 13;
}
.ribbons-list .snooze-ribbon {
	order: 14;
}
.ribbons-list .smile-ribbon {
	order: 15;
}
.ribbons-list .gorgeous-ribbon {
	order: 16;
}
.ribbons-list .royal-ribbon {
	order: 17;
}
.ribbons-list .gorgeous-royal-ribbon {
	order: 18;
}
.ribbons-list .cool-ribbon-sinnoh {
	order: -78;
}
.ribbons-list .cool-ribbon-great-sinnoh {
	order: -77;
}
.ribbons-list .cool-ribbon-ultra-sinnoh {
	order: -76;
}
.ribbons-list .cool-ribbon-master-sinnoh {
	order: -75;
}
.ribbons-list .beauty-ribbon-sinnoh {
	order: -74;
}
.ribbons-list .beauty-ribbon-great-sinnoh {
	order: -73;
}
.ribbons-list .beauty-ribbon-ultra-sinnoh {
	order: -72;
}
.ribbons-list .beauty-ribbon-master-sinnoh {
	order: -71;
}
.ribbons-list .cute-ribbon-sinnoh {
	order: -70;
}
.ribbons-list .cute-ribbon-great-sinnoh {
	order: -69;
}
.ribbons-list .cute-ribbon-ultra-sinnoh {
	order: -68;
}
.ribbons-list .cute-ribbon-master-sinnoh {
	order: -67;
}
.ribbons-list .smart-ribbon-sinnoh {
	order: -66;
}
.ribbons-list .smart-ribbon-great-sinnoh {
	order: -65;
}
.ribbons-list .smart-ribbon-ultra-sinnoh {
	order: -64;
}
.ribbons-list .smart-ribbon-master-sinnoh {
	order: -63;
}
.ribbons-list .tough-ribbon-sinnoh {
	order: -62;
}
.ribbons-list .tough-ribbon-great-sinnoh {
	order: -61;
}
.ribbons-list .tough-ribbon-ultra-sinnoh {
	order: -60;
}
.ribbons-list .tough-ribbon-master-sinnoh {
	order: -59;
}
.ribbons-list .footprint-ribbon {
	order: 20;
}
.ribbons-list .legend-ribbon {
	order: 21;
}
.ribbons-list .ability-ribbon {
	order: -58;
}
.ribbons-list .great-ability-ribbon {
	order: -57;
}
.ribbons-list .double-ability-ribbon {
	order: -56;
}
.ribbons-list .multi-ability-ribbon {
	order: -55;
}
.ribbons-list .pair-ability-ribbon {
	order: -54;
}
.ribbons-list .world-ability-ribbon {
	order: -53;
}
.ribbons-list .contest-memory-ribbon {
	order: 24;
}
.ribbons-list .contest-memory-ribbon-gold {
	order: 25;
}
.ribbons-list .battle-memory-ribbon {
	order: 26;
}
.ribbons-list .battle-memory-ribbon-gold {
	order: 27;
}
.ribbons-list .kalos-champion-ribbon {
	order: 1;
}
.ribbons-list .training-ribbon {
	order: 5;
}
.ribbons-list .skillful-battler-ribbon {
	order: 6;
}
.ribbons-list .expert-battler-ribbon {
	order: 7;
}
.ribbons-list .best-friends-ribbon {
	order: 4;
}
.ribbons-list .coolness-master-ribbon {
	order: 30;
}
.ribbons-list .beauty-master-ribbon {
	order: 31;
}
.ribbons-list .cuteness-master-ribbon {
	order: 32;
}
.ribbons-list .cleverness-master-ribbon {
	order: 33;
}
.ribbons-list .toughness-master-ribbon {
	order: 34;
}
.ribbons-list .contest-star-ribbon {
	order: 29;
}
.ribbons-list .hoenn-champion-ribbon {
	order: 28;
}
.ribbons-list .alola-champion-ribbon {
	order: 35;
}
.ribbons-list .battle-royal-master-ribbon {
	order: 36;
}
.ribbons-list .battle-tree-great-ribbon {
	order: 37;
}
.ribbons-list .battle-tree-master-ribbon {
	order: 38;
}
.ribbons-list .galar-champion-ribbon {
	order: 39;
}
.ribbons-list .master-rank-ribbon {
	order: 41;
}
.ribbons-list .tower-master-ribbon {
	order: 40;
}
.ribbons-list .twinkling-star-ribbon {
	order: 42;
}
.ribbons-list .pioneer-ribbon {
	order: 43;
}
.ribbons-list img[class$="-mark"] {
	order: 1000;
}

.select2-dropdown {
	color: #000;
}
.tablelist .select2-dropdown {
	width: max-content!important;
}
