button {
	all: unset;
}
@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/NunitoSans-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/NunitoSans-SemiBold.ttf") format("truetype");
	font-weight: 600;
}
@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/NunitoSans-Bold.ttf") format("truetype");
	font-weight: 700;
}
.ui-sortable-handle {
	-ms-touch-action: none;
	touch-action: none;
}
html {
	min-height: 100%;
}
body {
	font-family: "Nunito Sans", sans-serif;
	font-size: 12pt;
	margin: 0;
}
.modal {
	border: 5px solid;
	border-left: none;
	border-right: none;
	padding: 0;
	user-select: none;
}
.modal h4,
.modal h5 {
	padding: 5px 10px 10px;
	margin: 0;
}
.modal h5 {
	text-align: center;
	padding: 5px 0 0;
	font-weight: normal;
}
.modal h5 .button {
	display: inline-block;
}
.modal table {
	width: 100%;
	border-spacing: 0;
}
.modal th {
	text-align: right;
	border: solid grey;
	border-width: 1px 1px 0 0;
	vertical-align: middle;
}
.modal #pokeform-tabs th {
	border: none;
	padding: 0;
}
.modal th label {
	display: block;
	padding: 10px;
	position: relative;
	line-height: 1.2;
}
#filterform label {
	width: 125px;
}
#filterform td:first-child:last-child {
	font-size: 9pt;
}
#filterform-level-min,
#filterform-level-max {
	width: 60px;
	height: 32px;
	padding: 2px;
	font-size: 12pt;
}
#filterform-level-divider {
	margin: 0 5px;
}
.modal th label .asterisk {
	position: absolute;
	right: 1px;
}
.modal td {
	padding: 10px;
	text-align: left;
	border: solid grey;
	border-width: 1px 1px 0 0;
	width: 100%;
	vertical-align: middle;
}
.modal .pokeform-ribbonrow th,
.modal .pokeform-ribbonrow td {
	vertical-align: top;
}
.modal td:last-child {
	border-width: 1px 0 0 0;
}
.modal td.ribbons {
	padding: 0;
}
.modal #all-ribbons,
#ribbonguide-transfer {
	min-height: 150px;
	max-height: 50vh;
	overflow-y: auto;
}
#pokeform-tabs div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#pokeform-tabs img {
	cursor: pointer;
	margin: 5px;
	filter: grayscale(1) brightness(1);
	width: 40px;
	height: 40px;
}
#pokeform-tabs img[src*=".svg"] {
	width: 35px;
	height: 35px;
}
#pokeform-tabs .pokeform-tabs-active {
	filter: none;
}
#pokeform tr:not(#pokeform-tabs):not(.pokeform-tab1) {
	display: none;
}
.pokedropimg {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
.pokedropimg.origininvert {
	filter: invert(0.6);
}
.pokedropimg ~ span {
	padding-left: 5px;
	vertical-align: middle;
}
.select2-container--default .select2-results__option .select2-results__option {
	padding-left: 6px;
}
.select2-dropdown {
	top: -5px;
	background: #fff;
}
.select2-dropdown.search-hidden {
	top: 0;
}
.select2-container--default .select2-results__option--selected,
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background: #ddd;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	background: #ddd;
	color: unset;
}
.select2-container .select2-selection--single {
	height: 32px;
}
.select2-selection__clear,
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	color: #444;
}
.modal td > input[type="text"] {
	padding: 5px;
}
* {
	font-family: "Nunito Sans", sans-serif;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
a:not(.button):hover {
	text-decoration: underline;
}
footer a {
	white-space: nowrap;
}
.button {
	padding: 5px 10px;
	background: #efefef;
	border: 2px solid #222;
	border-radius: 10px;
	cursor: default;
	user-select: none;
	font-size: 12pt;
	color: #121212;
}
span.button {
	display: inline-block;
}
.ribbons .button {
	display: inline-block;
}
.button:hover {
	background: #ddd;
}
.button:active {
	background: #eee;
}
header {
	text-align: left;
	padding: 5px 20px;
	text-transform: uppercase;
	font-size: 18pt;
	font-weight: bold;
	width: 100%;
	border-top: 3px solid;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#header-logo img {
	width: 32px;
	height: 32px;
	vertical-align: middle;
	margin-right: 5px;
}
#header-logo span {
	display: inline-block;
	vertical-align: middle;
}
#header-icons {
	display: flex;
	align-items: center;
	height: 32px;
}
#header-discord,
#header-discord img {
	height: 24px;
}
#header-settings {
	height: 32px;
	cursor: pointer;
	margin-left: 10px;
}
footer {
	text-align: center;
	padding: 5px 10px;
	font-size: 13px;
	width: 100%;
	border-bottom: 3px solid;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1;
	font-weight: 600;
}
#footer-icon {
	font-family: Arial, sans-serif;
	font-size: 28px;
	font-weight: bold;
	transform-origin: 50% 54%;
	transition: transform 0.2s;
	display: inline-block;
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 28px;
	height: 28px;
	line-height: 25px;
	cursor: pointer;
}
body[data-footer="collapsed"] footer {
	width: 28px;
	height: 30px;
	border-top-left-radius: 2px;
}
body[data-footer="collapsed"] #footer-text {
	display: none;
}
body[data-footer="collapsed"] #footer-icon {
	transform: rotate(-180deg);
}
#settings .button {
	font-size: 16px;
}
#settings-about {
	font-size: 11px;
}
#settings-about td {
	padding: 3px 10px;
}
#settings-about div {
	margin: 5px 0;
}
.ribbons {
	padding: 10px 0;
}
.ribbons img {
	width: 40px;
}
#settings input,
#pokeform-edit,
#boxform-edit,
#pokeform-gender-unknown,
#pokeform-header-edit,
#boxform-header-edit {
	display: none;
}
.sprite-mon {
	height: 50px;
}
#pokeform-shiny-toggle,
#pokeform-gender-toggle {
	margin-top: 5px;
	display: flex;
}
#pokeform-shiny-toggle input,
#pokeform-gender-toggle input {
	width: 0;
	height: 0;
	position: absolute;
	left: -9999px;
}
#pokeform-shiny-toggle label,
#pokeform-gender-toggle label,
#pokeform-gender-unknown {
	border: solid grey;
	border-width: 1px 0;
	opacity: 0.5;
	flex-basis: 100%;
	text-align: center;
	height: 26px;
	padding-top: 1px;
	transition: background 0.25s, color 0.25s;
	cursor: pointer;
}
#pokeform-shiny-toggle img,
#pokeform-gender-toggle img,
#pokeform-gender-unknown img {
	width: 16px;
	vertical-align: middle;
	margin-right: 5px;
	transition: filter 0.25s;
}
#pokeform-shiny-toggle span,
#pokeform-gender-toggle span,
#pokeform-gender-unknown span {
	vertical-align: middle;
}
#pokeform-shiny-toggle label:first-of-type,
#pokeform-gender-toggle label:first-of-type {
	border-radius: 10px 0 0 10px;
	border-width: 1px 0 1px 1px;
}
#pokeform-shiny-toggle label:last-of-type,
#pokeform-gender-toggle label:last-of-type {
	border-radius: 0 10px 10px 0;
	border-width: 1px 1px 1px 0;
}
#pokeform-shiny-toggle label:hover,
#pokeform-gender-toggle label:hover {
	opacity: 1;
}
#pokeform-shiny-toggle input:checked + label,
#pokeform-shiny-toggle input:checked + label:hover {
	background: #ebbe0b;
	color: black;
	opacity: 1;
}
#pokeform-gender-male:checked + label {
	background: #315B8B;
	color: #fff;
	opacity: 1;
}
#pokeform-gender-female:checked + label {
	background: #B60102;
	color: #fff;
	opacity: 1;
}
#pokeform-shiny-toggle input:checked + label img {
	filter: brightness(0);
}
#pokeform-shiny-toggle input:focus + label,
#pokeform-gender-toggle input:focus + label {
	outline: 1px solid var(--text);
	outline-offset: 1px;
}
#pokeform-gender-toggle input:disabled + label {
	display: none;
}
#pokeform-gender-toggle input:disabled:checked + label {
	display: block;
	border-radius: 10px;
}
#pokeform-gender-toggle input:disabled:checked + label span:after {
	content: " only";
}
#pokeform-gender-unknown {
	margin-top: 5px;
	border-width: 1px;
	border-radius: 10px;
	opacity: 1;
}
#pokeform-notes {
	width: 100%;
	resize: none;
}

#all-ribbons img {
	cursor: pointer;
}
#all-ribbons img.disabled {
	filter: blur(5px) grayscale(100%);
	cursor: default;
}
#all-ribbons input + label {
	position: relative;
	height: 40px;
	margin-right: 5px;
}
#ribbonguide .ribbon-optional {
	display: inline-block;
	position: relative;
}
#all-ribbons input:checked + label:after,
#ribbonguide .ribbon-optional:after {
	content: "";
	position: absolute;
	top: -2px;
	right: 0;
	width: 25px;
	height: 25px;
	background: url("../img/ui/check.svg") center center no-repeat;
	background-size: cover;
	cursor: pointer;
}
#ribbonguide .ribbon-optional:after {
	cursor: default;
	background-image: url("../img/ui/question.svg");
}
#all-ribbons input:checked + label:hover:after {
	opacity: 0.75;
}
.ribbons-gen {
	text-align: left;
	font-weight: bold;
	border-top: 1px solid grey;
	padding: 10px;
}
.ribbons-gen:first-child {
	border-top: none;
}
#all-ribbons .ribbons-list:last-child {
	padding-bottom: 10px;
}
.ribbons-list {
	display: flex;
	flex-wrap: wrap;
	align-content: space-evenly;
}
.modal .ribbons-list {
	display: none;
	padding: 0 10px 10px;
}
.pokemon-list-entry .ribbons-list {
	padding: 5px 0 5px 5px;
	height: 100%;
}
.pokemon-list-entry .ribbons-list img {
	height: 32px;
}
.ribbons-list .country-ribbon {
	order: -11;
}
.ribbons-list .world-ribbon {
	order: -10;
}
.ribbons-list .classic-ribbon {
	order: -9;
}
.ribbons-list .premier-ribbon {
	order: -8;
}
.ribbons-list .event-ribbon {
	order: -7;
}
.ribbons-list .birthday-ribbon {
	order: -6;
}
.ribbons-list .special-ribbon {
	order: -5;
}
.ribbons-list .souvenir-ribbon {
	order: -4;
}
.ribbons-list .wishing-ribbon {
	order: -3;
}
.ribbons-list .battle-champion-ribbon {
	order: -2;
}
.ribbons-list .world-champion-ribbon {
	order: -1;
}
.ribbons-list .national-ribbon {
	order: 22;
}
.ribbons-list .earth-ribbon {
	order: 23;
}
.ribbons-list .champion-ribbon {
	order: 2;
}
.ribbons-list .effort-ribbon {
	order: 8;
}
.ribbons-list .cool-ribbon-hoenn {
	order: -100;
}
.ribbons-list .cool-ribbon-super-hoenn {
	order: -99;
}
.ribbons-list .cool-ribbon-hyper-hoenn {
	order: -98;
}
.ribbons-list .cool-ribbon-master-hoenn {
	order: -97;
}
.ribbons-list .beauty-ribbon-hoenn {
	order: -96;
}
.ribbons-list .beauty-ribbon-super-hoenn {
	order: -95;
}
.ribbons-list .beauty-ribbon-hyper-hoenn {
	order: -94;
}
.ribbons-list .beauty-ribbon-master-hoenn {
	order: -93;
}
.ribbons-list .cute-ribbon-hoenn {
	order: -92;
}
.ribbons-list .cute-ribbon-super-hoenn {
	order: -91;
}
.ribbons-list .cute-ribbon-hyper-hoenn {
	order: -90;
}
.ribbons-list .cute-ribbon-master-hoenn {
	order: -89;
}
.ribbons-list .smart-ribbon-hoenn {
	order: -88;
}
.ribbons-list .smart-ribbon-super-hoenn {
	order: -87;
}
.ribbons-list .smart-ribbon-hyper-hoenn {
	order: -86;
}
.ribbons-list .smart-ribbon-master-hoenn {
	order: -85;
}
.ribbons-list .tough-ribbon-hoenn {
	order: -84;
}
.ribbons-list .tough-ribbon-super-hoenn {
	order: -83;
}
.ribbons-list .tough-ribbon-hyper-hoenn {
	order: -82;
}
.ribbons-list .tough-ribbon-master-hoenn {
	order: -81;
}
.ribbons-list .winning-ribbon {
	order: -80;
}
.ribbons-list .victory-ribbon {
	order: -79;
}
.ribbons-list .artist-ribbon {
	order: 19;
}
.ribbons-list .sinnoh-champion-ribbon {
	order: 3;
}
.ribbons-list .alert-ribbon {
	order: 9;
}
.ribbons-list .shock-ribbon {
	order: 10;
}
.ribbons-list .downcast-ribbon {
	order: 11;
}
.ribbons-list .careless-ribbon {
	order: 12;
}
.ribbons-list .relax-ribbon {
	order: 13;
}
.ribbons-list .snooze-ribbon {
	order: 14;
}
.ribbons-list .smile-ribbon {
	order: 15;
}
.ribbons-list .gorgeous-ribbon {
	order: 16;
}
.ribbons-list .royal-ribbon {
	order: 17;
}
.ribbons-list .gorgeous-royal-ribbon {
	order: 18;
}
.ribbons-list .cool-ribbon-sinnoh {
	order: -78;
}
.ribbons-list .cool-ribbon-great-sinnoh {
	order: -77;
}
.ribbons-list .cool-ribbon-ultra-sinnoh {
	order: -76;
}
.ribbons-list .cool-ribbon-master-sinnoh {
	order: -75;
}
.ribbons-list .beauty-ribbon-sinnoh {
	order: -74;
}
.ribbons-list .beauty-ribbon-great-sinnoh {
	order: -73;
}
.ribbons-list .beauty-ribbon-ultra-sinnoh {
	order: -72;
}
.ribbons-list .beauty-ribbon-master-sinnoh {
	order: -71;
}
.ribbons-list .cute-ribbon-sinnoh {
	order: -70;
}
.ribbons-list .cute-ribbon-great-sinnoh {
	order: -69;
}
.ribbons-list .cute-ribbon-ultra-sinnoh {
	order: -68;
}
.ribbons-list .cute-ribbon-master-sinnoh {
	order: -67;
}
.ribbons-list .smart-ribbon-sinnoh {
	order: -66;
}
.ribbons-list .smart-ribbon-great-sinnoh {
	order: -65;
}
.ribbons-list .smart-ribbon-ultra-sinnoh {
	order: -64;
}
.ribbons-list .smart-ribbon-master-sinnoh {
	order: -63;
}
.ribbons-list .tough-ribbon-sinnoh {
	order: -62;
}
.ribbons-list .tough-ribbon-great-sinnoh {
	order: -61;
}
.ribbons-list .tough-ribbon-ultra-sinnoh {
	order: -60;
}
.ribbons-list .tough-ribbon-master-sinnoh {
	order: -59;
}
.ribbons-list .footprint-ribbon {
	order: 20;
}
.ribbons-list .legend-ribbon {
	order: 21;
}
.ribbons-list .ability-ribbon {
	order: -58;
}
.ribbons-list .great-ability-ribbon {
	order: -57;
}
.ribbons-list .double-ability-ribbon {
	order: -56;
}
.ribbons-list .multi-ability-ribbon {
	order: -55;
}
.ribbons-list .pair-ability-ribbon {
	order: -54;
}
.ribbons-list .world-ability-ribbon {
	order: -53;
}
.ribbons-list .contest-memory-ribbon {
	order: 24;
}
.ribbons-list .contest-memory-ribbon-gold {
	order: 25;
}
.ribbons-list .battle-memory-ribbon {
	order: 26;
}
.ribbons-list .battle-memory-ribbon-gold {
	order: 27;
}
.ribbons-list .kalos-champion-ribbon {
	order: 1;
}
.ribbons-list .training-ribbon {
	order: 5;
}
.ribbons-list .skillful-battler-ribbon {
	order: 6;
}
.ribbons-list .expert-battler-ribbon {
	order: 7;
}
.ribbons-list .best-friends-ribbon {
	order: 4;
}
.ribbons-list .coolness-master-ribbon {
	order: 30;
}
.ribbons-list .beauty-master-ribbon {
	order: 31;
}
.ribbons-list .cuteness-master-ribbon {
	order: 32;
}
.ribbons-list .cleverness-master-ribbon {
	order: 33;
}
.ribbons-list .toughness-master-ribbon {
	order: 34;
}
.ribbons-list .contest-star-ribbon {
	order: 29;
}
.ribbons-list .hoenn-champion-ribbon {
	order: 28;
}
.ribbons-list .alola-champion-ribbon {
	order: 35;
}
.ribbons-list .battle-royal-master-ribbon {
	order: 36;
}
.ribbons-list .battle-tree-great-ribbon {
	order: 37;
}
.ribbons-list .battle-tree-master-ribbon {
	order: 38;
}
.ribbons-list .galar-champion-ribbon {
	order: 39;
}
.ribbons-list .master-rank-ribbon {
	order: 41;
}
.ribbons-list .tower-master-ribbon {
	order: 40;
}
.ribbons-list .twinkling-star-ribbon {
	order: 42;
}
.ribbons-list .hisui-ribbon {
	order: 43;
}
.ribbons-list img[class$="-mark"] {
	order: 1000;
}

.select2-dropdown {
	color: #000;
}

#pokemon-list,
#menu {
	width: 95%;
	margin: 60px auto 125px;
	display: flex;
	flex-wrap: wrap;
	justify-content: stretch;
}
#pokemon-list {
	margin-top: 0;
}
body[data-footer="collapsed"] #pokemon-list {
	margin-bottom: 85px;
}
#menu {
	margin-bottom: 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	user-select: none;
}
#menu button {
	width: 25px;
	text-align: center;
	padding: 5px 10px;
	margin: 0 0 0 5px;
	border-radius: 20px;
	box-shadow: none;
	transition: box-shadow 0.33s;
	cursor: pointer;
}
#menu button.selected,
#menu button.selected:hover,
#menu button.selected:focus {
	box-shadow: 0 0 5px 0 var(--text);
}
#menu button img,
#menu button span {
	vertical-align: middle;
}
#menu button img {
	width: 25px;
	height: auto;
}
#menu-filter {
	position: relative;
}
#menu-filter-count {
	position: absolute;
	top: -5px;
	right: -10px;
	border-radius: 10px;
	width: 30px;
	text-align: center;
	font-size: 11pt;
	font-weight: 600;
}
#filterform .select2-search.select2-search--inline {
	display: inline-block;
	padding: 3px;
}
#boxsort-boxes {
	display: block;
	max-height: 300px;
	overflow-y: auto;
}
#boxsort-boxes > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 5px 5px 30px;
	cursor: grab;
	background-image: url("../img/ui/drag.svg");
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 5px center;
	border-radius: 5px;
}
#boxsort-boxes span {
	display: inline-block;
}
#boxsort-boxes span:first-child {
	max-width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-rendering: auto;
}
#boxsort-boxes button {
	cursor: pointer;
	margin-left: 5px;
}
#boxsort-boxes img {
	vertical-align: middle;
	width: 20px;
}
#boxsort-boxes > div + div {
	margin-top: 5px;
}
#select2-pokeform-box-container {
	max-width: 350px;
}
#select2-pokeform-box-results li {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	text-rendering: auto;
}
.pokemon-list-entry {
	border-radius: 5px;
	width: 100%;
	margin: 10px auto 0;
	box-shadow: none;
	transition: box-shadow 0.33s;
}
#add-pokemon-button {
	position: fixed;
	z-index: 1;
	right: 10px;
	bottom: 75px;
	line-height: 1.5;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	padding: 9px;
	text-align: center;
	cursor: pointer;
}
body[data-footer="collapsed"] #add-pokemon-button {
	bottom: 40px;
}
#add-pokemon-button img {
	width: 32px;
}
.pokeform-stats {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	text-align: center;
}
.pokeform-stats input {
	width: 60px;
}
#ribbonguide-info {
	display: flex;
	align-items: center;
	border-bottom: 2px solid grey;
}
#ribbonguide-info img {
	width: 100px;
	padding: 5px;
}
#ribbonguide-info div div {
	margin: 5px 0;
	padding: 0 10px;
}
#ribbonguide-info div:first-child {
	width: 100%;
	font-size: 20px;
}
#ribbonguide-info span:first-child,
#ribbonguide-transfer > div > div > div:first-child {
	font-weight: bold;
}
#ribbonguide-transfer > div > div > div:first-child {
	padding-bottom: 5px;
}
#ribbonguide-transfer img {
	width: 40px;
	height: 40px;
}
#ribbonguide-transfer > div {
	padding: 10px;
	border-bottom: 2px solid grey;
}
.ribbonguide-transfer-exclusive,
.ribbonguide-transfer-later,
.ribbonguide-transfer-excluded {
	padding: 0 5px;
}
.ribbonguide-transfer-excluded {
	margin-bottom: 5px;
}
#ribbonguide-transfer > div:last-child {
	border-bottom: none;
}
#ribbonguide-transfer > div:last-child .ribbonguide-transfer-later,
#ribbonguide-transfer > div:last-child .ribbonguide-transfer-footer {
	display: none;
}
#ribbonguide-transfer > div:last-child .ribbonguide-transfer-excluded {
	margin-bottom: 0;
	border-bottom: none;
}
.ribbonguide-transfer-footer {
	background: url("../img/ui/check.svg") left center no-repeat;
	background-size: 25px;
	line-height: 25px;
	padding-left: 30px;
	font-weight: bold;
	font-size: 16px;
	text-shadow: 0 0 5px #0f0;
}
.ribbonguide-transfer-footer .notready,
.ribbonguide-transfer-footer .unsure {
	display: none;
}
.ribbonguide-transfer-unsure {
	background-image: url("../img/ui/question.svg");
	text-shadow: 0 0 5px #ff0;
}
.ribbonguide-transfer-unsure:not(.ribbonguide-transfer-notready) .unsure {
	display: inline;
}
.ribbonguide-transfer-notready {
	background-image: url("../img/ui/cross.svg");
	text-shadow: 0 0 5px #f00;
}
.ribbonguide-transfer-notready .notready {
	display: inline;
}
.ribbonguide-transfer-noneleft {
	font-size: 18px;
	text-align: center;
	margin: 40px 0;
}
#ribbonguide-warnings {
	display: block;
	padding: 10px;
	background: #881430;
	color: #fff;
	border-bottom: 2px solid grey;
}
#ribbonguide-warnings li {
	list-style: none;
}
#ribbonguide-warnings li:not(:empty) {
	list-style: circle;
}
@media only screen and (max-width: 600px){
	#pokeform-shiny-toggle span,
	#pokeform-gender-toggle span,
	#pokeform-gender-unknown span {
		display: none;
	}
	#pokeform-shiny-toggle img,
	#pokeform-gender-toggle img,
	#pokeform-gender-unknown img {
		margin-right: 0;
	}
	#pokeform-gender-toggle label,
	#pokeform-gender-unknown {
		padding-top: 0;
	}
	.select2-container {
		max-width: 53vw;
	}
	.pokeform-tab3 .select2-container {
		max-width: 46vw;
	}
	#pokeform-species + .select2-container {
		max-width: 36vw;
	}
	.pokeform-stats div {
		width: 33%;
	}
}
@media only screen and (min-width: 768px) {
	.pokemon-list-entry {
		width: 49%;
		margin: 10px 1% 0 0;
	}
	#menu button:last-child {
		margin-right: 1%;
	}
	#add-pokemon-button {
		bottom: 50px;
	}
	#pokemon-list {
		margin-bottom: 110px;
	}
	body[data-footer="collapsed"] #add-pokemon-button {
		bottom: 40px;
	}
	body[data-footer="collapsed"] #pokemon-list {
		margin-bottom: 85px;
	}
}
@media only screen and (min-width: 1200px) {
	.pokemon-list-entry {
		width: 32.5%;
		margin: 10px 0.5% 0 0;
	}
	#menu button:last-child {
		margin-right: 1.5%;
	}
	#add-pokemon-button {
		bottom: 40px;
	}
	#pokemon-list {
		margin-bottom: 85px;
	}
}
.pokemon-list-entry-header,
.pokemon-list-entry-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px 5px 0 0;
	padding: 5px 10px;
}
.pokemon-list-entry-header {
	flex-wrap: wrap;
	height: 55px;
}
.pokemon-list-entry-footer {
	display: grid;
	grid-template-columns: auto 120px;
	border-radius: 0 0 5px 5px;
}
.pokemon-list-entry-header * {
	vertical-align: middle;
}
.pokemon-list-entry-header-left,
.pokemon-list-entry-header-right {
	line-height: 1;
}
.pokemon-list-entry-header-left *,
.pokemon-list-entry-header-right * {
	margin-right: 5px;
}
.pokemon-list-entry-header-left {
	display: grid;
	grid-template-columns: 25px auto 25px 25px;
}
.pokemon-list-entry-header-right {
	font-weight: 600;
}
.pokemon-list-entry-footer-left {
	min-width: 180px;
}
.pokemon-list-entry-footer-right {
	margin-top: -1px;
}
.pokemon-list-entry-header-right span {
	margin-left: 5px;
}
.pokemon-list-entry img,
.pokemon-list-entry button {
	width: auto;
	height: 20px;
}
.pokemon-list-edit,
.pokemon-list-delete,
.pokemon-list-guide,
.pokemon-list-move {
	margin-left: 10px;
	vertical-align: middle;
	cursor: pointer;
}
.pokemon-list-move {
	cursor: grab;
}
#pokemon-list.ui-sortable-disabled .pokemon-list-entry-header {
	cursor: default;
}
#pokemon-list.ui-sortable-disabled .pokemon-list-move {
	cursor: not-allowed;
	opacity: 0.5;
}
.pokemon-list-name {
	font-weight: bold;
	font-size: 20px;
	padding: 0 5px;
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	text-rendering: auto;
}
.pokemon-list-level {
	min-width: 60px;
}
.pokemon-list-lang-wrapper {
	min-width: 70px;
}
.pokemon-list-origin,
.pokemon-list-box-icon {
	margin-right: 5px;
}
.pokemon-list-box-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-rendering: auto;
}
.pokemon-list-lang {
	display: inline-block;
	width: 60px;
	text-align: center;
	background: #efefef;
	border-radius: 10px;
	font-weight: bold;
	color: #121212;
}
.pokemon-list-entry-footer-left {
	display: flex;
	align-items: center;
}
.pokemon-list-entry-center {
	display: flex;
	height: calc(100% - 89px);
	align-items: center;
}
.pokemon-list-entry-center > img {
	height: 100px;
	width: auto;
	padding: 5px;
}
#pokeform-preview {
	padding: 0;
	width: 88px;
}
#pokeform-preview img {
	width: 68px;
	height: auto;
}
#pokemon-list-nomatch,
#pokemon-list-empty,
.ribbons-list-empty {
	width: 100%;
	text-align: center;
	margin: 20px auto;
	display: none;
}
#pokemon-list-empty:last-child,
.ribbons-list-empty:first-child:last-child {
	display: block;
}
#changelog tr:not(:last-child),
.ribbons-gen,
#ribbonguide-warnings {
	cursor: pointer;
}
.changelog-date,
#ribbonguide-warnings-toggle {
	font-weight: bold;
}
.changelog-date + ul,
#ribbonguide-warnings-toggle + ul {
	padding-left: 5%;
	margin: 1% 0;
	display: none;
}
.ribbons-gen.rg-active + .ribbons-list {
	display: flex;
}
.changelog-active .changelog-date + ul,
#ribbonguide-warnings.active #ribbonguide-warnings-toggle + ul {
	display: block;
}
.changelog-date:before,
.ribbons-gen:before,
#ribbonguide-warnings-toggle:before {
	content: "▼";
	margin-right: 5px;
	font-size: 12px;
	vertical-align: middle;
}
.changelog-date span,
.ribbons-gen span,
#ribbonguide-warnings-toggle span {
	vertical-align: middle;
}
#ribbonguide-warnings-toggle span {
	text-transform: uppercase;
}
.changelog-active .changelog-date:before,
.ribbons-gen.rg-active:before,
#ribbonguide-warnings.active #ribbonguide-warnings-toggle:before {
	content: "▲";
}
#changelog .timelimited {
	font-weight: bold;
	background: #881430;
	color: #fff;
	padding: 2px 7px;
	display: block;
	border-radius: 3px;
}
#changelog .timelimited img {
	height: 22px;
	width: auto;
	vertical-align: bottom;
}

span.lang {
	display: none;
}
body[lang="de"] span.lang.ger {
	display: inline;
}
body[lang="en"] span.lang.eng {
	display: inline;
}
body[lang="es"] span.lang.spa {
	display: inline;
}
body[lang="fr"] span.lang.fre {
	display: inline;
}
body[lang="it"] span.lang.ita {
	display: inline;
}
body[lang="ja"] span.lang.jpn {
	display: inline;
}
body[lang="ko"] span.lang.kor {
	display: inline;
}
body[lang="zh-Hant"] span.lang.cht {
	display: inline;
}
body[lang="zh-Hans"] span.lang.chs {
	display: inline;
}

.pokemon-list-entry[data-timelimited] .pokemon-list-guide {
	position: relative;
}
.pokemon-list-entry[data-timelimited] .pokemon-list-guide:after {
	content: "";
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	top: -1px;
	right: -1px;
	background: #881430;
	border-radius: 10px;
	box-shadow: 0px 0px 1px 1px #ffffff00;
	animation: pulse-animation 1s infinite;
}
.theme-light .pokemon-list-entry[data-timelimited] .pokemon-list-guide:after,
.theme-shield .pokemon-list-entry[data-timelimited] .pokemon-list-guide:after,
.theme-sword .pokemon-list-entry[data-timelimited] .pokemon-list-guide:after {
	filter: invert(1);
	animation: pulse-animation-invert 1s infinite;
}
@keyframes pulse-animation {
	0% {
		box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.75);
	}
	100% {
		box-shadow: 0 0 1px 20px rgba(255, 255, 255, 0);
	}
}
@keyframes pulse-animation-invert {
	0% {
		box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.75);
	}
	100% {
		box-shadow: 0 0 1px 20px rgba(0, 0, 0, 0);
	}
}
#pokeform-scale {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}
.pokeform-scale-row {
	display: flex;
	align-items: center;
}
.pokeform-scale-row label {
	display: contents;
}
.pokeform-scale-icon {
	width: 18px;
	height: 18px;
	margin-left: 5px;
}
.pokeform-scale-icon + .pokeform-scale-icon {
	margin-left: 0;
}