/* Start Menu by default */
:root {
	--header-bg: #112028;
	--header-border: #f7cd12;
	--header-link: #91AAD6;
	--page-bg: linear-gradient(#111e34, #243a5b);
	--modal-center-bg: #1f2f45;
	--text: #fff;
	--pokemon: #1f2f45;
}

/* Classic Dark */
body.theme-dark {
	--header-bg: #333;
	--header-border: #222;
	--header-link: #96ADD7;
	--page-bg: #121212;
	--modal-center-bg: #121212;
	--text: #fff;
	--pokemon: #555;
}

/* Naranja/Uva Academy */
body.theme-naranja,
body.theme-uva {
	--header-border: #f7cd12;
	--header-link: #fff;
	--page-bg: linear-gradient(225deg, #001e4f, #0058ba);
	--text: #fff;
	--pokemon: #002c67;
	--pokemon-header: #081d3c;

	--modal-bg: #081d3c;
	--modal-center-bg: #002c67;
	--label-text: #fcd821;
}

/* Naranja Academy */
body.theme-naranja {
	--header-bg: #b65726;
}

/* Uva Academy */
body.theme-uva {
	--header-bg: #852eb0;
}

/* Classic Light */
body.theme-light {
	--header-bg: #ddd;
	--header-border: #888;
	--header-link: #38578e;
	--page-bg: #fff;
	--text: #121212;
	--pokemon: #eee;

	--modal-bg: #333;
	--modal-center-bg: #fff;
	--modal-text: #fff;
	--modal-link: #38578e;
	--pokemon-header: #bbb;
}
.theme-light .pokemon-list-entry .shiny {
	filter: brightness(200%);
}
.theme-light .pokemon-list-edit,
.theme-light .pokemon-list-delete,
.theme-light .pokemon-list-details,
.theme-light #header-settings,
.theme-light .pokemon-list-origin,
.theme-light #add-pokemon-button img {
	filter: invert(1);
}
.theme-light #pokeform-tabs .pokeform-tabs-active {
	filter: brightness(0);
}

/* Main Event */
body {
	background: var(--page-bg);
	color: var(--text);
}
header,
footer,
#add-pokemon-button {
	background: var(--header-bg);
	border-color: var(--header-border);
}
header a:not(.button),
footer a:not(.button) {
	color: var(--header-link);
}
.modal a:not(.button) {
	color: var(--modal-link, #add8e6);
}
.modal {
	background: var(--modal-center-bg, var(--page-bg));
	border-color: var(--modal-bg, var(--header-bg));
}
.modal h4,
.modal h5 {
	background: var(--modal-bg, var(--header-bg));
	color: var(--modal-text, var(--text));
}
.modal th label {
	color: var(--label-text, var(--text));
}
.pokemon-list-entry:hover,
#filters-boxes button:hover,
#filters-boxes button:focus {
	box-shadow: 0 0 10px -5px var(--text);
}
.pokemon-list-entry-header,
.pokemon-list-entry-footer,
#filters-boxes button {
	background: var(--pokemon-header, var(--modal-bg, var(--header-bg)));
}
.pokemon-list-entry-center {
	background: var(--pokemon);
}
