/* Classic Dark by default */
:root {
	--header-bg: #333;
	--header-border: #222;
	--header-link: #7f9ccf;
	--page-bg: #121212;
	--text: #fff;
	--pokemon: #555;
}

/* Classic Light */
body.theme-light {
	--header-bg: #ddd;
	--header-border: #888;
	--header-link: #38578e;
	--page-bg: #fff;
	--text: #121212;
	--pokemon: #eee;

	--modal-bg: #333;
	--modal-text: #fff;
	--pokemon-header: #bbb;
}
.theme-light .pokemon-list-origin {
	filter: invert(1);
}
.theme-light .pokemon-list-entry .shiny {
	filter: brightness(200%);
}
.theme-light .pokemon-list-edit,
.theme-light .pokemon-list-delete,
.theme-light .pokemon-list-details,
.theme-light #add-pokemon-button img {
	filter: none;
}
.theme-light #header-settings {
	filter: none;
}

/* Naranja Academy */
body.theme-naranja {
	--header-bg: #b45924;
	--header-border: #fccb06;
	--header-link: #000;
	--page-bg: #162b4a;
	--text: #fff;
	--pokemon: #35404b;

	--modal-bg: #202d44;
	--modal-center-bg: #2d3f52;
}

/* Uva Academy */
body.theme-uva {
	--header-bg: #852eb0;
	--header-border: #b76c79;
	--header-link: #D1D1D1;
	--page-bg: #162b4a;
	--text: #fff;
	--pokemon: #35404b;

	--modal-bg: #202d44;
	--modal-center-bg: #2d3f52;
}

/* Main Event */
body {
	background: var(--page-bg);
	color: var(--text);
}
header,
footer,
#add-pokemon-button {
	background: var(--header-bg);
	border-color: var(--header-border);
}
header a,
footer a {
	color: var(--header-link);
}
.modal {
	background: var(--modal-center-bg, var(--page-bg));
	border-color: var(--modal-bg, var(--header-bg));
}
.modal h4,
.modal h5 {
	background: var(--modal-bg, var(--header-bg));
	color: var(--modal-text, var(--text));
}
.pokemon-list-entry-header,
.pokemon-list-entry-footer {
	background: var(--pokemon-header, var(--modal-bg, var(--header-bg)));
}
.pokemon-list-entry-center {
	background: var(--pokemon);
}
