body {
	width: 95%;
	font-family: "Nunito Sans", sans-serif;
	font-size: 12pt;
	margin: 20px auto 0;
}
* {
	font-family: "Nunito Sans", sans-serif;
}
a {
	color: #38578e;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
body.dark a {
	color: #81a6e9;
}
body.dark {
	background: #121212;
	color: #fff;
}
body.light {
	background: #fff;
	color: #121212;
}
button, .button {
	padding: 5px 10px;
	background: #efefef;
	border: 2px solid #222;
	border-radius: 10px;
	cursor: default;
	user-select: none;
	font-size: 12pt;
	color: #121212;
}
.ribbons .button {
	display: inline-block;
}
button:hover, .button:hover {
	background: #ddd;
}
button:hover, .button:active {
	background: #ccc;
}
.button.disabled {
	background: #efefef;
	border-color: #ccc;
	color: #bbb;
}
body.dark button, body.dark .button {
	background: #222;
	border-color: #888;
	color: #fff;
}
body.dark button:hover, body.dark .button:hover {
	background: #444;
}
body.dark button:active, body.dark .button:active {
	background: #555;
}
body.dark .button.disabled {
	background: #222;
	border-color: #333;
	color: #555;
}
header {
	text-align: center;
	font-size: 20pt;
	font-weight: bold;
}
.subhead {
	text-align: center;
	font-size: 14pt;
	margin-top: 10px;
}
.subheadbtns {
	text-align: center;
	font-size: 10pt;
	margin-top: 20px;
}
.subheadbtns .button {
	font-size: 10pt
}
.tablelist {
	width: 100%;
	padding: 10px 0 0;
	margin: 20px 0;
	border: 1px solid #aaa;
	border-left: none;
	border-right: none;
	border-spacing: 0;
}
.tablelist th,
.tablelist td {
	text-align: left;
	min-height: 60px;
	border-bottom: 1px solid #666;
	padding-left: 10px;
}
.tablelist th {
	height: 40px;
}
.tablelist th:nth-child(1),
.tablelist td:nth-child(1) {
	width: 150px;
}
.tablelist th:nth-child(2),
.tablelist td:nth-child(2) {
	width: 150px;
	text-align: center;
}
.tablelist th:nth-child(3),
.tablelist td:nth-child(3) {
	width: 100px;
	text-align: center;
}
.tablelist th:nth-child(4),
.tablelist td:nth-child(4),
.tablelist th:nth-child(5),
.tablelist td:nth-child(5),
.tablelist th:nth-child(6),
.tablelist td:nth-child(6) {
	width: 100px;
}
.tablelist th:nth-child(7),
.tablelist td:nth-child(7) {
	width: 300px;
}
.tablelist #addnewpkmn-button td,
.tablelist #addnewpkmn td {
	border-bottom: none;
	padding: 25px 0 25px 10px;
	text-align: center;
}
.tablelist #addnewpkmn-button td {
	padding-bottom: 27px
}
.tablelist td:nth-child(7) {
	position: relative;
	padding-left: 35px;
}
.tablelist td:nth-child(7):before {
	content: "";
	width: 32px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: transparent no-repeat left center;
	background-size: 32px;
}
.tablelist .shinymark {
	background: url("sprites/shiny.png") no-repeat right center;
	background-size: 16px;
}
.tablelist td:nth-child(2) {
	position: relative;
}
.tablelist td:nth-child(2) .shiny {
	position: absolute;
	left: 42px;
	top: 22px;
	width: 16px;
	height: 16px;
}
footer {
	font-size: 9pt;
	text-align: center;
}
.ribbons img {
	width: 40px;
	margin-right: 5px;
}
#addnewpkmn {
	display: none;
}
.sprite-mon {
	height: 50px;
}
#add-name {
	width: calc(100% - 20px);
}
#add-dex {
	width: calc(100% - 24px);
}
#add-ball,
#add-trainer,
#add-id {
	width: calc(100% - 5px);
}
#add-nature,
#add-origin {
	width: calc(100% - 10px);
}
#add-shiny + img {
	filter: grayscale(100%);
	width: 16px;
	height: 16px;
	vertical-align: middle;
	cursor: pointer;
}
#add-shiny:checked + img {
	filter: none;
}
#addnewpkmn td:last-child {
	text-align: left;
}

body.dark .tablelist .origin-bdsp:before {
	background-image: url("sprites/origins/light/bdsp.png");
}
body.light .tablelist .origin-bdsp:before {
	background-image: url("sprites/origins/dark/bdsp.png");
}
body.dark .tablelist .origin-clover:before {
	background-image: url("sprites/origins/light/clover.png");
}
body.light .tablelist .origin-clover:before {
	background-image: url("sprites/origins/dark/clover.png");
}
body.dark .tablelist .origin-galar:before {
	background-image: url("sprites/origins/light/galar.png");
}
body.light .tablelist .origin-galar:before {
	background-image: url("sprites/origins/dark/galar.png");
}
body.dark .tablelist .origin-game-boy:before {
	background-image: url("sprites/origins/light/game-boy.png");
}
body.light .tablelist .origin-game-boy:before {
	background-image: url("sprites/origins/dark/game-boy.png");
}
body.dark .tablelist .origin-go:before {
	background-image: url("sprites/origins/light/go.png");
}
body.light .tablelist .origin-go:before {
	background-image: url("sprites/origins/dark/go.png");
}
body.dark .tablelist .origin-hisui:before {
	background-image: url("sprites/origins/light/hisui.png");
}
body.light .tablelist .origin-hisui:before {
	background-image: url("sprites/origins/dark/hisui.png");
}
body.dark .tablelist .origin-lets-go:before {
	background-image: url("sprites/origins/light/lets-go.png");
}
body.light .tablelist .origin-lets-go:before {
	background-image: url("sprites/origins/dark/lets-go.png");
}
body.dark .tablelist .origin-pentagon:before {
	background-image: url("sprites/origins/light/pentagon.png");
}
body.light .tablelist .origin-pentagon:before {
	background-image: url("sprites/origins/dark/pentagon.png");
}
